/* .container {
  border: 1px solid red;
} */

.endOfGameAlert {
  padding-top: 25vh;
}

/* .row {
  border: 5px solid green;
}  */

.col {
  border: 1px dotted black;
}

.box {
  font-size: 20vh;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.TopRow {
  padding-top: 3vh;
}
