.WelcomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   
  max-width: 75%; */
}



.InputTitle {
  font-size: 1.3rem;
}

.WelcomeButtons{
    margin: 17vh;
}

.WelcomeInput{
    margin-top: 10vh;
}

.SubmitButton {
    margin: 5vh
}

 
@media (min-width: 141px) and (min-height: 101px) {
    .NameInput {
      font-size: 3vh;
    }
    
  }

@media (min-width: 300px) and (min-height: 201px) {
    .NameInput {
      font-size: 5vh;
    }
    
  }

@media (min-width: 500px) and (min-height: 401px) {
  .NameInput {
    font-size: 8vh;
  }
  
}

@media (min-width: 1000px) and (min-height: 700px) {
  .NameInput {
    font-size: 12vh;
  }
} 
